{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if JobTitle %}
<h1><span class="teal-text">{{JobTitle.job_title}}</span></h1>
{% else %}
<h1>Update Job Post</h1>
{% endif %}
<form action="{% url 'update_job_post' JobPost.id %}" method="post">
	{% csrf_token %}
	<div class="row pt-1 pb-1">
		<div class="col-6">
			{{ JobForm.industry|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ JobForm.years_experience|as_crispy_field }}
		</div>
	</div>
	{{ JobForm.details|as_crispy_field  }}
	<input type="submit" value="Submit!" class="btn" />
	{% csrf_token %}
	<table>
		{{ JobUpdateForm }}
	</table>
	<input type="submit" value="Submit!" class="btn" />
</form>

{% endblock %}