{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>everyJob</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<ul>
					<li>
						<a href="/" class="left brand-logo">&nbsp;&nbsp;everyJobs</a>
					</li>
				</ul>
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="/">About</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'job_title_create' %}">Add a Job Title</a></li>
					<li><a href="/">Log Out</a></li>
					{% else %}
					<li><a href="{% url 'job_post' %}">Add Job</li>
					<li><a href="{% url 'login' %}">Log In</a></li>
					<li><a href="{% url 'signup' %}">Sign up</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
	<main class="container">{% block content %} {% endblock %}</main>
	<footer class="page-footer">
		<div class="center">
			All Rights Reserved, &copy; 2022 everyJob &nbsp;
		</div>
	</footer>
</body>

</html>