{% extends 'base.html' %}
{% block content %}

<h2 class="border-bottom">Job Titles</h2>

<div class="row">
	<!-- for job in jobs -->
	<div class="col s12 m5">
		<div class="card-panel">
			<!-- job.job_title -->
			Material Development Engineer
		</div>
	</div>
	<!-- endfor -->
	<div class="col s12 m5">
		<div class="card-panel ">
			Material Development Engineer
		</div>
	</div>
	<div class="col s12 m5">
		<a href="everyjob/">
			<div class="card-panel ">
				Material Development Engineer
			</div>
		</a>
	</div>
	<div class="col s12 m5">
		<div class="card-panel ">
			Material Development Engineer
		</div>
	</div>
</div>
{% endblock %}