{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
<a id="add_post" class="waves-effect waves-light btn-small right" href="{% url 'add_job_post' %}">Add a Post</a>
{% endif %}
<h2 class="border-bottom title">{{ job_title }}</h2>

<div class="row">
	{% if jobPost %}
	{% for job in jobPost %}
	<div class=" col s6">
		<div class="job-post">
			<div class="top ">
				<span>Field {{job.industry}}</span>
				<span class="right">{{ job.years_experience }} years experience</span>
			</div>
			<div class="">
				<p>{{ job.details }}</p>
			</div>
			<div class="bottom">
				<span>Tags #web</span>
				<span class="right">date posted</span>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h2>No Posts</h2>
	{% endif %}
</div>
{% endblock %}