{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
<a id="add_post" class="waves-effect waves-light btn-small right" href="{% url 'add_job_post' job_title.id %}">Add a
	Post</a>
{% endif %}
<h2 class="border-bottom title">{{ job_title }}</h2>

<div class="row">
	{% if jobPost %}
	{% for job in jobPost %}
	<div class=" col s6">
		<div class="job-post">
			<div class="top ">
				{{ job.industry }}
				<span>Field Art</span>
				{{ job.years_experience }}
				<span class="right">3 years experience</span>
			</div>
			<div class="">
				{{ job.details }}
				<p>I research and organize media and text into layouts for formats such as websites and apps</p>
			</div>
			<div class="bottom">
				<span>Tags #web</span>
				<span class="right">date posted</span>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h2>No Posts</h2>
	{% endif %}
</div>
{% endblock %}