{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
<a id="add_post" class="btn btn-outline-primary float-end" href="{% url 'add_job_post' job_title.id %}">Add a
	Post</a>
{% endif %}
<h2 id="job-title" class="border-bottom title pb-3 pt-2">{{ job_title }}</h2>

<div class="row">
	{% if jobPost %}
	{% for job in jobPost %}
	<div class=" col-12 col-sm-6 mt-3 mb-4">
		<div class="card job-post">
			<div class="top card-header d-flex justify-content-between">
				<span>Field - {{job.get_industry_display}}</span>
				<!-- if statement for one year -->
				<span class="text-end">{{ job.years_experience }} years experience</span>
			</div>
			<div class="card-body">
				<p>{{ job.details }}</p>
			</div>
			<div class="bottom card-footer d-flex justify-content-between">
				<!-- add -->
				<span>Tags #web</span>
				<!-- add -->
				<span class="right">date posted</span>
				{% if job.user_id == user.id %}
				<a class="btn btn-outline-success btn-sm" href="{% url 'get_job_post_update' job.id %}">Edit Job Post</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h2>No Posts</h2>
	{% endif %}
</div>
{% endblock %}