@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
	--main-color: #3273dc;
	--main-gray: hsl(215, 15%, 22%);
	--main-blue: #2160c4;
	--light-blue: #eef3fc;
}

body {
	color: var(--main-gray);
	font-family: 'Source Code Pro',
		monospace;
}

.btn-primary {
	background-color: var(--main-color);
	border-color: var(--main-color);
	color: white;
}

.job-title {
	text-decoration: none;
	color: var(--main-blue);
	;
}

#job-title {
	text-transform: uppercase;
}

.card-header,
.card-footer {
	color: #6c757d;
	font-size: .875em;
	background-color: var(--light-blue);
	color: var(--main-blue);
}

.job-title-container {
	margin-top: .5rem;
	margin-bottom: .5rem;
	background-color: var(--light-blue);
}

.text-decoration-none {
	text-decoration: none;
}

.footer {
	width: 100%;
	height: 60px;
	background-color: var(--light-blue);
}