:root {
	--main-color: #a29bfe;
	--main-gray: #2f3640;
}

.btn-primary {
	background-color: var(--main-color);
	border-color: var(--main-color);
}


body {
	color: var(--main-gray);

}

<<<<<<< HEAD

=======
>>>>>>> 0236b15 (switched to bootstrap)
.job-title {
	text-decoration: none;
	color: rgba(0, 0, 0, .55);
}

#job-title {
	text-transform: uppercase;
}

.card-header,
.card-footer {
	color: #6c757d;
	font-size: .875em;
}

.job-title-container {
	margin-top: .5rem;
	margin-bottom: .5rem;
<<<<<<< HEAD
}

.footer {
	/* position: absolute;
	bottom: 0; */
	width: 100%;
	height: 60px;
	background-color: aliceblue;
=======
>>>>>>> 0236b15 (switched to bootstrap)
}