@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
	--main-color: #a29bfe;
	--main-gray: #2f3640;
}

body {
	color: var(--main-gray);
	font-family: 'Source Code Pro',
		monospace;
}

.btn-primary {
	background-color: var(--main-color);
	border-color: var(--main-color);
}

.job-title {
	text-decoration: none;
	color: #2160c4;
	;
}

#job-title {
	text-transform: uppercase;
}

.card-header,
.card-footer {
	color: #6c757d;
	font-size: .875em;
}

.job-title-container {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.text-decoration-none {
	text-decoration: none;
}

.footer {
	/* position: absolute;
	bottom: 0; */
	width: 100%;
	height: 60px;
	background-color: aliceblue;
}